@charset "UTF-8";

@import url("../iconfonts/font-awesome/css/font-awesome.min.css");
@import url("../iconfonts/Glyphicons/glyphicon.css");
@import url("../iconfonts/ionicons/ionicons.css");
@import url("../iconfonts/Linearicons/Linearicons.css");
@import url("../iconfonts/materialdesignicons/materialdesignicons.css");
@import url("../iconfonts/Pe-icon-7-stroke/Pe-icon-7.css");
@import url("../iconfonts/simple-line-icons/simple-line-icons.css");
@import url("../iconfonts/themify/themify.css");
@import url("../iconfonts/typicons/typicons.css");
@import url("../iconfonts/weathericons/weathericons.css");
@import url("../iconfonts/car-fonts/cars.css");
@import url("../iconfonts/feather/feather.css");