.slide-container {
	width: 100%;
	height: auto;
	background-color: #ffffff;
}
.slide-container .each-fade img {
	max-width: 80%;
	height: auto;
	/* border-radius: 20px; */
}
.react-slideshow-container .nav:first-of-type,
.react-slideshow-container .nav:last-of-type {
	background-color: #3333;
}

.carousel-indicators li {
	width: 3px;
	padding: 3px 3px;
	margin-right: 20px;
	margin-bottom: 15px;
	/* border-radius: 7vw; */
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
}

/*
.carousel-control-prev-icon {
	background-image: url();
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.carousel-control-next-icon {
	background-image: url();
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}


.carousel-control-prev,
.carousel-control-next {
	position: absolute;
	top: 0;
	bottom: 0px;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 12%;
	color: #fff;
	text-align: center;
	opacity: 0.5;
	-webkit-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
	background-color: #e4efee;
	margin-left: 5px;
	max-width: 45px;
	max-height: 45px;
	margin-top: 210px;
	margin-left: 30px;
	border-radius: 33px;
	padding-left: 10px;
}
.carousel-control-next {
	margin-right: 30px;
	right: 0;
	padding-right: 15px;
}
*/
@media screen and (max-width: 992px) {
	.slide-container .each-fade img {
		max-width: 95%;
	}
	.carousel-control-prev,
	.carousel-control-next {
		display: none;
	}
}
